/* GENERAL */
.app {
	margin: 0;
}

.app__wrapper {
	margin: 0 2em;
}





/* BUTTONS */
.button {

}





/* FORM */
.form {

}

.form__row {

}

.form__label {

}

.form__field {

}

.form__textarea {
	display: block;
	font: inherit;
	font-size: 1.5em;
	padding: .5em;
	width: 80%;
	min-width: 256px;
	box-sizing: border-box;
}

.form__button {

}





/* CALENDAR */
.app__calendar {
	display: none;
}

.app__calendar--visible {
	display: block;
}
